$primary-color: #005EFF;
$secondary-color: #212529;
$light-color: #F4F4F9;
$alternative-light-color: #E8EAF6;

$font-stack: 'Poppins', sans-serif;

$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

$font-size-h1: clamp(1.5rem, 1rem + 2vw, 4rem);
$font-size-h2: clamp(1.25rem, 1rem + 2vw, 2.5rem);
$font-size-h3: clamp(1.125rem, 0.9rem + 1.2vw, 1.75rem);
$font-size-h4: clamp(0.875rem, 0.75rem + 0.9vw, 1.2rem);
$font-size-base: clamp(1rem, 0.75rem + 1vw, 1.5rem);
$font-size-small: clamp(0.9rem, 0.7rem + 0.75vw, 1.25rem);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: $font-bold;
    font-size: $font-size-h1;

    // colors gradient
    background-image: linear-gradient($light-color, $alternative-light-color);
    color: transparent;
    background-clip: text;
}

h2 {
    font-weight: $font-bold;
    font-size: $font-size-h2;
    color: $primary-color;
}

h3 {
    font-weight: $font-medium;
    font-size: $font-size-h3;
}

h4 {
    font-weight: $font-medium;
    font-size: $font-size-h4;
}

p {
    font-weight: $font-regular;
    font-size: $font-size-base;
}

a {
    font-weight: $font-regular;
    font-size: $font-size-base;
    text-decoration: none;
    color: $light-color;
}